---
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';

import HeroImage from '@assets/events/forschungsraum/hero.jpg';
import Timetable from '@assets/events/forschungsraum/sexualität-körper-Plan.svg';
import ArrowLeft from '@assets/icons/ArrowLeft.svelte';

import Clara from '@assets/events/forschungsraum/Clara.jpg';
import Lara from '@assets/events/forschungsraum/Lara.jpg';
import May from '@assets/events/forschungsraum/May.jpg';
import Sophie from '@assets/events/forschungsraum/Sophie.jpg';

import Rosow1 from '@assets/events/forschungsraum/rosow_01.jpg';
import Rosow2 from '@assets/events/forschungsraum/rosow_02.jpg';
import Rosow3 from '@assets/events/forschungsraum/rosow_03.jpg';
import Rosow4 from '@assets/events/forschungsraum/rosow_04.jpg';
import Rosow5 from '@assets/events/forschungsraum/rosow_05.jpg';
import Rosow6 from '@assets/events/forschungsraum/rosow_06.jpg';

import Button from '@components/Button.astro';

import CalendarIcon from '@assets/icons/CalendarIcon.svelte';
import HandWithMoney from '@assets/icons/HandWithMoney.svelte';
import LocationPin from '@assets/icons/LocationPin.svelte';
import People from '@assets/icons/People.svelte';

const title = 'Forschungsraum: Körper & Sexualität';
// TODO: implement formatting logic if not same month (or year)
// for example 30.04.24 - 02.05.24 should be '30. April - 02. Mai'
const dates = {
  start: new Date(2024, 4, 17),
  end: new Date(2024, 4, 20),
};
const who = '18 – 32 Jahre';
const cost = '120€ – 170€';

const locationPictures = [
  {
    src: Rosow1,
    alt: 'Ein 2-stöckiges rotes Backsteinhaus mit Garten und Windrädern am Horizont.',
  },
  {
    src: Rosow2,
    alt: 'Die Sonne scheint von hinten durch ein Baumhaus. Im rechten Vordergrund steht ein lila blühender Fliederbusch.',
  },
  { src: Rosow3, alt: 'Ein blühender Apfelbaum steht im Garten vor einem roten Backsteinhaus.' },
  { src: Rosow4, alt: 'Die Sonne geht hinter Windrädern unter, mit Blick über ein Getreidefeld.' },
  { src: Rosow5, alt: 'Zelte stehen zwischen Büschen und Bäumen im Garten.' },
  {
    src: Rosow6,
    alt: 'Menschen sitzen und stehen um ein Lagerfeuer. Oben hängt eine Discokugel, die blau angeleuchtet wird.',
  },
];

const team = [
  {
    name: 'Lara (24)',
    role: 'ehrenamtlich in der Sexualaufklärung aktiv',
    image: Lara,
    description:
      'Ich bin seit fünf Jahren ehrenamtlich in der Sexualaufklärung bei Mit Sicherheit Verliebt e.v. aktiv und liebe die Arbeit im Austausch mit Jugendlichen. Ich möchte ein schambefreites und lockeres Umfeld schaffen, in dem menschliche Sexualität diskutiert und zelebriert werden kann 🌞',
  },
  {
    name: 'Clara (23)',
    role: 'Yogalehrerin und Psychologie-Studentin',
    description:
      'Ich freue mich darauf, mit eu.ch gemeinsam einen Ort mit einer ermutigenden Atmosphäre und offenen Gesprächen zu schaffen.',
    image: Clara,
  },
  {
    name: 'May',
    role: 'freiberuflich in der Sexualpädagogik tätig',
    description:
      'Ich möchte willkommende Räume kreieren, die sich mutig anfühlen. Ich möchte Menschen bewegen, bei sich selbst einzukehren um  sich dann frei mit dem zu zeigen, was da ist.',
    image: May,
  },
  {
    name: 'Sophie',
    role: 'angehende Sexualpädagogin',
    description:
      'In den Workshops die ich für euch gestalten werde, möchte ich einen Raum schaffen, in dem wir rücksichtsvoll, rege und mit einem kritischen Blick in den Austausch kommen.',
    image: Sophie,
  },
];
---

<Layout title="YoungVision e.V. - Forschungsraum: Körper & Sexualität">
  <Image
    class="h-[27rem] w-full object-cover"
    src={HeroImage}
    alt="Gathering 2024"
    widths={[540, 720, 1024, 1200, 1440, 1920, 2560, 3840]}
    sizes="100vw"
  />
  <div class="pr-4 lg:pr-20">
    <div class="flex h-12 w-full items-center rounded-br-xl bg-yellow-500 bg-opacity-60 lg:text-xl">
      <a href="/events" class="p-3">
        <ArrowLeft />
        <span class="sr-only">Zur vorherigen Seite</span>
      </a>
      Veranstaltungen
    </div>
  </div>

  <div class="mx-auto max-w-[80rem] px-4 pt-12 lg:px-20 lg:text-xl">
    <h1 class="font-serif text-4xl font-bold lg:text-5xl">{title}</h1>
    <div class="mt-6 lg:mt-14 lg:px-24">
      <h2 class="font-serif text-2xl font-bold lg:text-4xl">Wichtige Infos</h2>
      <div
        class="mt-16 grid grid-cols-2 gap-x-6 gap-y-14 px-4 text-center lg:grid-cols-4 lg:px-0 lg:text-left"
      >
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <LocationPin class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wo</h3>
          <a class="mt-3 text-center underline" href="https://maps.app.goo.gl/kak1RX8pJwZGnFFD7">
            <address class="not-italic">Am bhf 4, 166307 Mescherin</address>
          </a>
        </div>

        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <People class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wer</h3>
          <p class="mt-3 text-center">{who}</p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <CalendarIcon class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Wann</h3>
          <p class="mt-3 text-center">
            {dates.start.toLocaleDateString('de', { day: '2-digit' })} - {
              dates.end.toLocaleDateString('de', { day: '2-digit', month: 'long' })
            }
          </p>
        </div>
        <div class="flex flex-col items-center">
          <div
            class="flex h-40 w-40 items-center justify-center rounded-full bg-yellow-700 shadow-xl"
          >
            <HandWithMoney class="h-24 w-24" />
          </div>
          <h3 class="mt-8 font-serif text-xl font-bold">Kosten</h3>
          <p class="mt-3 text-center">{cost}</p>
          <p class="text-center text-sm">(inkl. Verpflegung & Unterkunft)</p>
        </div>
      </div>
      <div class="mt-20 lg:mt-28">
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">
          Deine Forschungsreise zu Körper & Sexualität
        </h2>
        <div class="mt-4 max-w-prose text-justify lg:mt-8">
          <p>
            In sämtlichen Gesellschaften und über Epochen hinweg sind Körper sowie Sexualität von
            Normen und Idealen geprägt. In diesem Forschungsraum wollen wir uns diese Normen und
            Ideale näher ansehen, sie reflektieren und in den Austausch kommen: <br /><br />➤ Was
            bedeutet (meine) Sexualität? <br />➤ Wie beeinflussen Pornos und soziale Medien die
            Beziehung zu uns selbst und anderen?<br />➤ Wie kann ich meinen Körper und meine
            Sexualität kennenlernen und akzeptieren?<br /><br />Wir haben gemütliche Sharing-Runden,
            Embodiment-Elemente wie Yoga und Ecstatic Dance sowie Beiträge zu den Themen Consent,
            Scham und Beziehungen geplant. Es wird viel Raum zum gemeinsamen Austausch und
            Reflektieren geben. Wir freuen uns auch auf <em>tolle Gesprächsrunden</em>, am
            Lagerfeuer sitzen, schwimmen gehen und ganz viel tanzen!<br /><br />Der Forschungsraum
            findet vom 17. bis 20. Mai im idyllischen Rosow statt. Wir wollen einen Safe Space für
            alle erschaffen, unabhängig von sexueller Orientierung oder Erfahrung. Hauptsache, du
            bist zwischen 18 und 32 Jahre alt!<br /><br />Wir freuen uns sehr auf dich!
          </p>
        </div>

        <Button
          text="Jetzt Anmelden"
          color="dark"
          class="mt-12 uppercase lg:mt-8"
          href="https://pretix.eu/yv/Forschungsraum"
        />
      </div>
    </div>

    <div class="mx-auto mt-6 max-w-[80rem] pt-12 lg:mt-14 lg:text-xl">
      <Image src={Timetable} class="w-full object-cover" alt="Wochenplan Bauwoche 2024" />
    </div>
    <div class="mx-auto mt-6 max-w-[80rem] px-4 lg:mt-12 lg:px-24">
      <div>
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">Begleitung und Referierende</h2>
        <div class="-mt-4 grid grid-cols-1 gap-x-6 lg:-mt-6 lg:grid-cols-2 lg:gap-x-12">
          {
            team.map((member) => (
              <div class="row-span-3 mt-8 grid grid-rows-subgrid lg:mt-16">
                <Image
                  src={member.image}
                  alt=""
                  class="aspect-square rounded-lg object-cover"
                  sizes="(max-width: 1024px) 100vw, 440px"
                  widths={[360, 440, 720, 880, 1024]}
                />
                <div class="mt-2 lg:mt-4">
                  <p class="text-xl font-bold lg:text-2xl">{member.name}</p>
                  <p class="text-sm text-gray-700">{member.role}</p>
                </div>
                <p class="mt-4 text-justify lg:mt-6">{member.description}</p>
              </div>
            ))
          }
        </div>
      </div>
      <div class="py-12">
        <h2 class="font-serif text-2xl font-bold lg:text-4xl">Veranstaltungsort Rosow</h2>
        <p class="mt-3">Der Forschungsraum findet im idyllischen Rosow statt.</p>
        <p>Vegane Verpflegung und Unterkunft sind wie immer inklusive.</p>
        <div class="mt-4 grid grid-cols-1 lg:mt-8 lg:grid-cols-3">
          {
            locationPictures.map((image) => (
              <Image
                src={image.src}
                alt={image.alt}
                widths={[310, 400, 540, 720, 1024]}
                sizes="(max-width: 1024px) 100vw, 310px"
                class="aspect-square w-full object-cover"
                alt=""
              />
            ))
          }
        </div>
        <Button
          text="Jetzt Anmelden"
          color="dark"
          class="mt-12 uppercase lg:mt-8"
          href="https://pretix.eu/yv/Forschungsraum"
        />
      </div>
    </div>
  </div>
</Layout>
